.container {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.empty {
  font-size: 16px;
  color: #777;
  margin-top: 40px;
}
